body{
  font-family: "Lora", serif;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 228, 228);
}

h1{
  font-size: 2.3rem;
  margin-top: 3rem;

}

input ,select ,button{
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  border: none;
  gap: 2rem;
  outline: none;
  justify-content: center;
  align-items: center;
  
}

input[placeholder]{
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  margin-left: 2rem;
  gap: 1rem;
  margin-left: 0;
}

input{
  border: none;
  min-width: 13rem;
}

select, option{
  font-weight: bolder;
  font-size: 18px;
  padding-right: 4rem;
  justify-content: center;
  margin-right: 0.5rem;
  font-family: "Lora", serif;
}

button{
  background-color: black;
  color: white;
  font-weight: bolder;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  font-family: "Lora", serif;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  gap: 0.3rem; 
  padding: 1rem;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}
